Pandas作为数据分析库在日常的数据分析工作中起到重要作用，是一个基于Numpy的、处理数据较为专业的库。因此在使用Pandas这个库之前需要导入Numpy。

In [3]:
import numpy as np
import pandas as pd

### 1.Series

Pandas 中有两种基本的数据结构，分别是Seiies和DataFrame,即数列和数据框，当然，Python中所涉及到的其他数据类型在Pandas库中也适用。
只不过这两种数据结构让对数据的分析和操作变得更简单。

### （1) 创建Series
Series可以说是相当于一个序列，跟之前学到的列表数据结构类型相似，比如说有一系列元素，每一个元素都对应一个索引值。

Series在表面上的不同之处应该在于，它输出的是一个“竖起来的列表”。可以看一下Series序列的创建

一维数组创建的Series

In [4]:
arr1 = np.arange(1,11)
arr1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [5]:
s1 = pd.Series(arr1)
s1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

很明显，输出结果是一个“竖起来的列表”，其中，第一列为索引值，第二列为列表中的元素。

查看数据类型，利用type()，输出结果为Series序列形式：

In [6]:
type(s1)

pandas.core.series.Series

###  (2) 通过字典创建序列

首先，创建一个新字典dict1:

In [9]:
dict1 = {'a':5,'b':10,'c':15,'d':20,'e':25}

dict1

{'a': 5, 'b': 10, 'c': 15, 'd': 20, 'e': 25}

In [13]:
s2 = pd.Series(dict1)
s2

a     5
b    10
c    15
d    20
e    25
dtype: int64

如果要索引序列中的第一个元素，可以通过以下两种方法：

In [14]:
s2[0]

5

In [15]:
s2['a']

5

利用type()查看数据类型，可以看到返回的数据类型为序列

In [16]:
type(s2)

pandas.core.series.Series

2、Dataframe

(1)Dataframe可以用二维数组进行创建，首先，创建一个二维数组arr2

In [18]:
arr2 = np.array(np.arange(12).reshape(3,4))
arr2

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

(2) 将新创建的二维数组转化为数据框。并查看数据类型，发现已经转化成了Dataframe的形式

In [19]:
df1 = pd.DataFrame(arr2)
df1

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [20]:
type(df1)

pandas.core.frame.DataFrame

(3)通过字典创建Dataframe

通过两种不同的字典来创建Dataframe,第一种是字典列表，第二种是嵌套字典。那么，什么是字典列表？什么是嵌套字典？

首先，定义一个新字典dict2,键为“a、b、c、d"，值为"[1、2、3、4]、[5、6、7、8]、[9、10、11、12]、[13、14、15、16]”，输出结果：

In [21]:
dict2 = {'a':[1,2,3,4],'b':[5,6,7,8],'c':[9,10,11,12],'d':[13,14,15,16]}
dict2

{'a': [1, 2, 3, 4],
 'b': [5, 6, 7, 8],
 'c': [9, 10, 11, 12],
 'd': [13, 14, 15, 16]}

利用pd.Dataframe()函数，将其转化为数据框

In [22]:
df2 = pd.DataFrame(dict2)
df2

   a  b   c   d
0  1  5   9  13
1  2  6  10  14
2  3  7  11  15
3  4  8  12  16

查看数据类型，此时已经转化成了数据框形式

In [23]:
type(df2)

pandas.core.frame.DataFrame

利用嵌套字典创建Dataframe,首先创建一个新的嵌套字典 dict3

In [24]:
dict3 = {'one':{'a':1,'b':2,'c':3,'d':4},'two':{'a':5,'b':5,'c':7,'d':8},'three':{'a':9,'b':10,'c':11,'d':12}}
dict3

{'one': {'a': 1, 'b': 2, 'c': 3, 'd': 4},
 'two': {'a': 5, 'b': 5, 'c': 7, 'd': 8},
 'three': {'a': 9, 'b': 10, 'c': 11, 'd': 12}}

In [25]:
df3 = pd.DataFrame(dict3)
df3

   one  two  three
a    1    5      9
b    2    5     10
c    3    7     11
d    4    8     12

从输出结果来看，嵌套字典中外层的键作为列索引，内层的键成为了行索引。通常每一列对应的索引为变量名称，每一行的行名称就是索引。

3、用Dataframe来创建Dataframe

In [26]:
df4 = df3[['one','three']]
df4

   one  three
a    1      9
b    2     10
c    3     11
d    4     12

4、外部导入数据

In [ ]:
my_data1 = pd.read_excel("1.xlsx")
my_data1.head()

In [ ]:
my_data1 = pd.read_csv("1.csv")
my_data1.head()